<img src="https://s3.amazonaws.com/la-patiotuerca-ecuador-fotos/dealer_publiya/36/36_1619647045148_935.jpg" width="100%"/>
<div class="container mt-5 text-justify">
    <h4 class="mb-4"> Importadora Tomebamba</h4>
    <p class=" text-start">
        <img class="ml-3 w-50"  hspace="5" vspace="5" style="float: left;" src="https://tomebamba.com.ec/assets/media/content/b-services/1.jpg" class="d-flex"/>

        En 1964 cinco empresarios cuencanos liderados por Guillermo Vázquez Astudillo decidieron formar la compañía Importadora Tomebamba S.A. emprendiendo el reto de convertirla, a través de la distribución de vehículos, en una de las empresas más importantes del país. El paso del tiempo permitió que este objetivo se convirtiera en realidad, puesto que al momento, la empresa se encuentra catalogada entre las más importantes del Ecuador por el volumen de ventas, nivel de activos, resultados y valor patrimonial.

        Desde su inicio, Importadora Tomebamba S.A. se caracterizó por representar vía distribución y comercialización marcas líderes en el mercado mundial. Con mucho orgullo y satisfacción, la empresa inició sus actividades con la representación de vehículos TOYOTA para luego ir ampliando sus líneas. Desde un primer momento se quiso diferenciar de la competencia no solo por las marcas que ofrece sino sobre todo por la calidad en la atención al cliente, constituyéndose el servicio en la prioridad de nuestras actividades.


        Importadora Tomebamba S.A. desde su fundación logró un excelente posicionamiento, lo que obligó a que en 1967 abra su primera sucursal en la ciudad de Machala. Se continuó con la apertura de la sucursal en la ciudad de Loja. En 1979 se decide iniciar actividades comerciales en Riobamba para continuar con la apertura de las sucursales en Quito y Guayaquil. En la actualidad Importadora Tomebamba S.A. tiene presencia en: Cuenca, Machala, Loja, Riobamba, Azogues.

        
    </p>
    <p>
        Importadora Tomebamba S.A. en la actualidad, a más de la marca TOYOTA, que constituye su principal línea de negocios, comercializa al por mayor electrodomésticos de línea blanca con marca privada INNOVA, producidas y ensambladas por la fábrica Indurama de la ciudad de Cuenca, las marcas americanas Whirlpool y la colombiana Haceb; importa y distribuye productos de audio-video de las marcas Sony, Panasonic, LG, Samsung y Riviera; adicionalmente, es el distribuidor exclusivo en Ecuador de motocicletas Motor1, Sukida y Keeway, que son ensambladas localmente; y por último distribuye al por mayor y menor neumáticos marca MAXXIS y PRESA.

        odas estas líneas de venta están respaldadas por los talleres propios de servicio que, sin lugar a dudas, se encuentran entre los mejores del país.
    </p>
</div>
